@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    font-size: 18px;
    color: #e5e7eb;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.2;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 2rem;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: #f9faf8;
    color: #1f2937;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    padding: 1rem;
}

.navbar {
    padding: 1rem 4rem;
    padding-bottom: 0;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.navbar a {
    text-decoration: none;
}

.container-main > * {
    padding: 0 4rem;
}

.hero {
    height: 500px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.hero-text {
    width: 600px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-subtext {
    padding-top: 12px;
    padding-bottom: 12px;
}

.hero-img {
    background-color: #f0f0f0;
    width: 800px;
    aspect-ratio: 32 / 15;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 7rem;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 1rem;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
}

.info-box {
    width: 160px;
    height: 160px;
}

.info-img {
    border: 3px solid #3882f6;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
    overflow: hidden;
}

.info-img img {
    object-position: center;
}

.info-text {
    color: #686c73;
    font-size: smaller;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 6rem 14rem;
}

.quote-text {
    font-size: 32px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
    margin-top: 16px;
    width: 100%;
    text-align: right;
}

.call {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    width: 70%;
    height: 100px;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-header {
    color: #e5e7eb;
    font-size: larger;
    font-weight: 700;
}

.action button {
    border: 2px solid #e5e7eb;
}

.footer {
    height: 50px;
    background-color: #1f2937;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}